body {
    background-color: rgb(160, 172, 133);
    text-align: conter;
}
p {
    color:hsla(192, 100%, 50%, 0.712)
}

.guigui {
    font-style: italic;
}

h1{
    color: brown;
text-align: center;
}

h2{
    color: brown;
    text-align: center;
}
li{
    color: rgba(0, 140, 255, 0.678);
    text-align: center;
}

ol{
    text-align: center;
}
img{
    text-align: center;
}