body {
    background-color: rgb(160, 172, 133);
    text-align: conter;
}
p {
    color:hsla(205, 100%, 8%, 0.712)
}

.guigui {
    font-style: italic;
}

h1{
text-align: center;
}

h2{
    text-align: center;
}
li{
    text-align: center;
}

img{
    text-align: center;
}